.col-md-3 {
    background: darkgray;
    position: fixed;
    height: 100%;
    transition-duration: 1s;
}

.col-md-9 {
    left: 25%;
    transition-duration: 1s;
}

.toggleBtn {
    position: absolute;
    right: -35px;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: opacity .3s;
}

.toggleBtn:hover {
    opacity: 1;
}

.toggleBtn:focus {
    outline:0;
}

.mainFull {
    transform: translate(-25%);
}

.active {
    transform: translate(-305px);
}