.sidebar {
    background: darkgray;
    position: fixed;
    height: 100%;
    transition-duration: 1s;
}

.col-md-8 {
    left: 29%;
    transition-duration: 1s;
}

.toggleBtn {
    position: absolute;
    right: -35px;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: opacity .3s;
}

.toggleBtn:hover {
    opacity: 1;
}

.toggleBtn:focus {
    outline:0;
}

.mainFull {
    transform: translate(-17%);
}

.active {
    transform: translate(-305px);
}

.content {
    width: 100%;
}