#content {
    width: 75%;
    transition: all 0.3s;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: darkgrey;
    color: #fff;
    transition: all 0.4s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: darkgrey;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: darkgrey;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: darkgrey;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: darkgrey;
}

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

.contentBody {
    padding-left: 100px;
    transition: all 0.3s;
}

.glyphicon {
    margin-right: 15px;
}

#sidebarCollapse {
    position: absolute;
    height: 100%;
    top: -6px;
    left: 250px;
    transition: all 0.4s;
}

#sidebar.active #sidebarCollapse {
    left: 80px;
}

#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;

}
#sidebar.active .sidebar-header strong {
    display: block;
    font-size: 30px;
}

#content .contentActive {
    margin-left: 80px;
}

@media screen and (max-width: 1080px) {
    #content {
        width: 68%;
    }

    #content .contentBody {
        padding-left: 80px;
    }

}

@media screen and (max-width: 768px) {
    #content {
        width: 87%;
    }

    #content .contentBody {
        padding-left: 19%;
    }

    #content .contentActive {
        padding-left: 6%;
        margin-left: 12px;
    }

    #sidebar {
        margin-left: -250px;
    }

    #sidebarCollapse {
        left: 0px;
    }

    #sidebar.active #sidebarCollapse {
        left: 93px;
    }

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: 0px;
    }

    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
        font-size: 30px;
    }

    #sidebar.active #sidebarCollapse {
        margin-left: -13px;
    }
    
    #sidebar.active ul li a {
        text-align: left;
    }
    
    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }
    
    #sidebar.active ul li a i {
        margin-right: 0px;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    
    /* Same dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }
    
    .contentBody {
        padding-left: 50px;
    }
}

@media screen and (max-width: 480px) {
    #content .contentActive {
        padding-left: 6%;
        margin-left: 12px;
    }
}