h1, h3 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.aboutTxt {
    font-size: 20px;
}

#mainPanel {
    margin: -20px 0 0 0;
}

#aboutPanel {
    border-color: transparent;
}